*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
  font-family: "Poppins";
  box-sizing: border-box;
  height: 100%;
}
.text-para {
  font-size: 1em;
  color: #829052;
  font-style: italic;
  margin-top: 1rem;
}
.text-header {
  font-size: 1.5rem;
  font-weight: 400;
}
.fav-icon {
  display: flex;
  flex-wrap: nowrap;
}

.left-content {
    /* min-height: 50vh; */
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50%;
}

.eclectic__logo {
    max-width: 150px;
    /* max-height: 350px; */
    /* margin: 2rem auto; */
    margin: 0 auto;
}

.eclectic__content {
    margin: 0;
}

.eclectic__content p {
    margin-bottom: 0;
    line-height: 1;
}

.eclectic__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.img-responsive {
    width: 20px;
}



/* media query */

@media (min-width: 992px) {
    .left-content {
        height: 100vh;
        justify-content: center;
    }

    .right-image {
        height: 100vh;
    }

    .eclectic__logo {
        max-width: 250px;
        margin: 2rem auto;
    }

    .text-header {
        font-size: 2.8rem;
    }

    .eclectic__footer {
        margin: 2rem 0;
    }

    .eclectic__content {
        margin: 2rem 0;
    }

    .img-responsive {
        width: 30px;
    }

    .text-para {
        font-size: 1.75rem;
        margin-top: 1.5rem;
    }

    /* .eclectic__content {

    } */
}